#homeCircle {
    position: fixed;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -10em;
    margin-left: -10em;
    background-color: white;
    text-align: center;
    height: 20em;
    width: 20em;
    .homeCircleData {
      top: 50%;
      left: 50%;
    }
  
}